{% extends "admin/base.html" %}
{% load static %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
  <link rel="icon" type="image/png" href="{% static 'img/round_imodels.png' %}">
{% endblock %}

{% block branding %}
    <style>
        .rounded-image {
            border-radius: 50%;

            height: 60px;
        }
    </style>
   <h1 id="site-name">
      <a href="https://imodels.uz/admin/">
        <!-- <img src="{% static 'img/imodels.jpg' %}" class="rounded-image"/> -->
        <img src="{% static 'img/round_imodels.png'%}" width="60">
        iModels adminpanel
      </a>
   </h1>
{% endblock %}
{% block nav-global %}{% endblock %}