<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto mt-5">
                <h1 class="mb-5">Products</h1>

                {% for product in products %}
                    <h2 class="mb-5">{{ product.title }}</h2>
                    <div class="description">
                        {{ product.description|safe }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>